MNEMONIC="test test test test test test test test test test test junk"
RUNE_A_ID=""
RUNE_B_ID=""
TOKEN_A_ERC20=""
TOKEN_B_ERC20=""
TEST_WALLETS="2"
BTC_POOL_SATOSHI_AMOUNT=10000000
BTC_POOL_TOKENS_AMOUNT=120000
TOKEN_TO_TOKEN_POOL_A_AMOUNT=10000
TOKEN_TO_TOKEN_POOL_B_AMOUNT=10000


GETH_URL="http://localhost:8545"
MEMPOOL_URL="http://localhost:8083"
MAESTRO_URL="http://localhost:8080"